snippet ddh "Die Dump Here" b
dd(${2:"GLN: ${1:`date`}"});
endsnippet

snippet ddv "Die Dump Variable" b
dd($0);
endsnippet

snippet test "description" b
/** @test */
public function it_$1()
{
	$0
}
endsnippet
	
